@import 'mixins';
@import 'variables';


.hero {
	@include backImage('../assets/hero-background.png');
}

.main {
    @include backColor($white);
}

.learn-more {
    @include backImage('../assets/learn-more-background.png');
    position: relative;
}

.footer {
    @include backColor($grey);
    position: relative;
    min-height: unset;
}