@import 'transformations';
@import 'variables';

.hero {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 20px;
        font-family: 'Source Sans Pro';

        .project-name{
            padding-left: 10%;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.1em;
            flex: 1;
            flex-basis: 0;
        }

        .menu {
            flex: 1;
            flex-basis: 0;
            display: none;
        }

        &::after{
            padding-right: 10%;
            content: "";
            flex: 1;
            flex-basis: 0;
        }

        .navbar ul{
            display: flex;
            justify-content: center;
            line-height: 16px;
            font-weight: 400;
            font-size: 14px;
            padding:0;
            li {
                margin: 0px 15px;
                list-style: none;
                a {
                    letter-spacing: 0.2em;
                    padding: 6px 0px;
                    border-bottom: 2px solid transparent;
                    &:hover {
                        border-bottom: 2px solid white;
                    }
                }
            }
        }
    }

    .content {
        width: 100%;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;

        img:hover{
            animation: flip_scale 2s  ease-out infinite;
        }
    }

    .animation-points {
        position: absolute;
        animation: animation-points 2s infinite alternate ease-out;
        width: 100%;
        object-fit: cover;
    }
    
    .animation-circles {
        position: absolute;
        width: 100%;
        opacity: 1;
        object-fit: cover;
        animation: animation-circles 4s infinite ease-out;
    }

    .animation-points-mobile {
        position: absolute;
        animation: animation-points 2s infinite alternate ease-out;
        width: 100%;
        object-fit: cover;
        display: none;

    }
    
    .animation-circles-mobile {
        position: absolute;
        width: 100%;
        opacity: 1;
        object-fit: cover;
        animation: animation-circles 4s infinite ease-out;
        display: none;
    }

}


