
@media (max-width: 768px) {
    .hero {
        @include backImage('../assets/hero-background-mobile.png');
    }

    .animation-points {
        display: none;

    }

    .animation-circles{
        display: none; 
    }

    .animation-points-mobile {
        display: unset !important;
        top: 44px;
        right: 0px; 
    }

    .animation-circles-mobile {
        display: unset !important;
        // top: 14px;
        // left: -20px; 
    }

    .hero .header {
        .project-name{
            flex: 0;
            padding-left: 5%;
        }
            
        .navbar{
            display: none;
        }

        .menu {
            padding-right: 5%;
            flex: 0;
            color: $white;
            font-size: 40px;
            display: unset;
        }

        &::after{
            display: none;
        }
    }

    .main .container {

        .article {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            text-align: center;
                
        }

        .button {
            margin-top:0px;
        }
    }


    .footer .container {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);

        .contact-address{
            grid-column: 1;
            grid-row: 2;
        }
        
        .email-address{
            grid-column: 1;
            grid-row: 3;
        }
        
        .copyright{
            text-align:unset;
            grid-column: 1; 
            grid-row: 4;
        }

    }

}