@mixin backImage($image, $height: 100vh, $bgPos: center center) {
    background: url($image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

@mixin backColor($color, $height: 100vh, $bgPos: center center) {
    background: $color;
    background-position: $bgPos;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 
}
