@keyframes flip_scale {
    0% { transform: scaleX(1) scale(1, 1); }
    30% { transform: rotateY(90deg) scale(1.2); }
    60% { transform: scaleX(180deg) scale(1, 1); }
    100% { transform: scaleX(180deg) scale(1, 1); }
}

@keyframes rotate {
    0%, 20% { transform-origin:left; transform: rotate(0deg) }
    20%, 40% {  transform-origin:left; transform: rotate(15deg)  }
    40%, 60% {  transform-origin:left; transform: rotate(15deg)  }
    60%, 100% {  transform-origin:left; transform: rotate(0deg)  }
}

@keyframes expand {
    from { transform: scale(1); background-color: $blue-light; color: $white}
    to { transform: scale(1.1); background-color: $white; color:$blue-light}
}

@keyframes shrink {
    from { transform: scale(1.1); background-color: $white; color:$blue-light }
    to { transform: scale(1); background-color: $blue-light; color: $white}
}


@keyframes animation-points {
    from {transform: translate(0px, 0px);}
    to {opacity: 1; transform: translate(-35px, -30px);}
}


@keyframes animation-circles {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}