@import url(http://fonts.googleapis.com/css?family=Oswald|Oswald+Regular|Source+Sans+Pro);

$blue-light: #55C2D8;
$black: #000;
$white: #eee;
$white-headline: #fff;
$white-transparent: #FFFFFFB2;
$grey: #464547;
$grey-light: #666;


$color-headlines: $grey;
$color-sub-headlines: $grey;

$media-bp: 768px;