@import url(http://fonts.googleapis.com/css?family=Oswald|Oswald+Regular|Source+Sans+Pro);
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(http://fonts.googleapis.com/css?family=Oswald|Oswald+Regular|Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Oswald|Oswald+Regular|Source+Sans+Pro);
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
   * Remove default margin.
   */
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none;
}

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold;
}

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic;
}

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1,
h2,
h3 {
  font-size: 2em;
  margin: 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto;
}

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold;
}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.hero a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eee;
}

.hero h1 {
  font-family: "Oswald";
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin: 48px 0;
}

.hero h2 {
  font-family: 'Source Sans Pro';
  color: #FFFFFFB2;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.main h2 {
  font-family: "Oswald";
  color: #464547;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.main h3 {
  font-family: "Source Sans Pro";
  color: #666;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.learn-more h2 {
  font-family: "Oswald";
  color: #eee;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.learn-more h3 {
  font-family: "Source Sans Pro";
  color: #eee;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.hero {
  background: url("../assets/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main {
  background: #eee;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.learn-more {
  background: url("../assets/learn-more-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.footer {
  background: #464547;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  min-height: unset;
}

@-webkit-keyframes flip_scale {
  0% {
    -webkit-transform: scaleX(1) scale(1, 1);
            transform: scaleX(1) scale(1, 1);
  }
  30% {
    -webkit-transform: rotateY(90deg) scale(1.2);
            transform: rotateY(90deg) scale(1.2);
  }
  60% {
    -webkit-transform: scaleX(180deg) scale(1, 1);
            transform: scaleX(180deg) scale(1, 1);
  }
  100% {
    -webkit-transform: scaleX(180deg) scale(1, 1);
            transform: scaleX(180deg) scale(1, 1);
  }
}

@keyframes flip_scale {
  0% {
    -webkit-transform: scaleX(1) scale(1, 1);
            transform: scaleX(1) scale(1, 1);
  }
  30% {
    -webkit-transform: rotateY(90deg) scale(1.2);
            transform: rotateY(90deg) scale(1.2);
  }
  60% {
    -webkit-transform: scaleX(180deg) scale(1, 1);
            transform: scaleX(180deg) scale(1, 1);
  }
  100% {
    -webkit-transform: scaleX(180deg) scale(1, 1);
            transform: scaleX(180deg) scale(1, 1);
  }
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20%, 40% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40%, 60% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  60%, 100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0%, 20% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20%, 40% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40%, 60% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  60%, 100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes expand {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #55C2D8;
    color: #eee;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #eee;
    color: #55C2D8;
  }
}

@keyframes expand {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #55C2D8;
    color: #eee;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #eee;
    color: #55C2D8;
  }
}

@-webkit-keyframes shrink {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #eee;
    color: #55C2D8;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #55C2D8;
    color: #eee;
  }
}

@keyframes shrink {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #eee;
    color: #55C2D8;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #55C2D8;
    color: #eee;
  }
}

@-webkit-keyframes animation-points {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-35px, -30px);
            transform: translate(-35px, -30px);
  }
}

@keyframes animation-points {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-35px, -30px);
            transform: translate(-35px, -30px);
  }
}

@-webkit-keyframes animation-circles {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-circles {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  font-family: 'Source Sans Pro';
}

.hero .header .project-name {
  padding-left: 10%;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.hero .header .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  display: none;
}

.hero .header::after {
  padding-right: 10%;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.hero .header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 16px;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
}

.hero .header .navbar ul li {
  margin: 0px 15px;
  list-style: none;
}

.hero .header .navbar ul li a {
  letter-spacing: 0.2em;
  padding: 6px 0px;
  border-bottom: 2px solid transparent;
}

.hero .header .navbar ul li a:hover {
  border-bottom: 2px solid white;
}

.hero .content {
  width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .content img:hover {
  -webkit-animation: flip_scale 2s  ease-out infinite;
          animation: flip_scale 2s  ease-out infinite;
}

.hero .animation-points {
  position: absolute;
  -webkit-animation: animation-points 2s infinite alternate ease-out;
          animation: animation-points 2s infinite alternate ease-out;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .animation-circles {
  position: absolute;
  width: 100%;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: animation-circles 4s infinite ease-out;
          animation: animation-circles 4s infinite ease-out;
}

.hero .animation-points-mobile {
  position: absolute;
  -webkit-animation: animation-points 2s infinite alternate ease-out;
          animation: animation-points 2s infinite alternate ease-out;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

.hero .animation-circles-mobile {
  position: absolute;
  width: 100%;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: animation-circles 4s infinite ease-out;
          animation: animation-circles 4s infinite ease-out;
  display: none;
}

.main .container {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .container .headline,
.main .container .subheadline {
  margin-bottom: 5%;
}

.main .container .article {
  display: -ms-grid;
  display: grid;
  font-family: 'Source Sans Pro';
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0% 20%;
}

.main .container .button {
  font-family: "Oswald";
  color: white;
  background-color: #55C2D8;
  width: 115px;
  height: 36px;
  font-size: 14px;
  line-height: 26px;
  border-radius: 18px;
  border: 0px;
  margin-top: 40px;
}

.main .container .button:hover {
  -webkit-animation: rotate 3s  linear infinite;
          animation: rotate 3s  linear infinite;
}

.learn-more {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.learn-more .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  text-align: center;
}

.learn-more .container > * {
  display: block;
  margin: 20% 0% 10% 0%;
}

.learn-more .container button {
  background-color: #55C2D8;
  color: #eee;
  width: 150px;
  height: 150px;
  font-size: 80px;
  border: 0px;
  border-radius: 50%;
  -webkit-animation: shrink 0.2s;
          animation: shrink 0.2s;
}

.learn-more .container button:hover {
  -webkit-animation: expand 0.3s  ease-in-out forwards;
          animation: expand 0.3s  ease-in-out forwards;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  padding: 4% 8% 0% 8%;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  color: rgba(255, 255, 255, 0.4);
}

.footer .container a {
  color: inherit;
  text-decoration: none;
}

.footer .container .project-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer .container .project-logo img,
.footer .container .project-logo p {
  display: inline-block;
  vertical-align: middle;
}

.footer .container .project-logo p {
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  color: #eee;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

.footer .container .contact-address {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  text-decoration: none;
}

.footer .container .email-address {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer .container .copyright {
  white-space: nowrap;
  text-align: right;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 2;
  grid-row: 2;
}

@media (max-width: 768px) {
  .hero {
    background: url("../assets/hero-background-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .animation-points {
    display: none;
  }
  .animation-circles {
    display: none;
  }
  .animation-points-mobile {
    display: unset !important;
    top: 44px;
    right: 0px;
  }
  .animation-circles-mobile {
    display: unset !important;
  }
  .hero .header .project-name {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding-left: 5%;
  }
  .hero .header .navbar {
    display: none;
  }
  .hero .header .menu {
    padding-right: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    color: #eee;
    font-size: 40px;
    display: unset;
  }
  .hero .header::after {
    display: none;
  }
  .main .container .article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .main .container .button {
    margin-top: 0px;
  }
  .footer .container {
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .footer .container .contact-address {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer .container .email-address {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .footer .container .copyright {
    text-align: unset;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}
/*# sourceMappingURL=style.css.map */